.form-container {
  width: 58rem;
  padding: 3rem 2rem;
  background-color: white;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 8px;
  box-shadow: 0px 22px 106px 0px rgba(0, 0, 0, 0.07);
}

.form-header {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.25rem;
}
